.places__link {
  text-decoration: none;
  font-size: 24px;
  color: var(--color-text-dark);
  font-weight: 900;
  line-height: 29px;
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.places__link:hover {
  opacity: 0.6;
}
