.popup__btn {
  cursor: pointer;
  font-family: inherit;
  border: none;
  padding: 14px 0;
  border-radius: 2px;
  background-color: var(--color-bg-primaty);
  font-size: 18px;
  color: var(--color-text);
  font-weight: 400;
  line-height: 22px;
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.popup__btn:hover {
  opacity: 0.7;
}

@media screen and (max-width: 424px) {
  .popup__btn {
    font-size: 14px;
    line-height: 17px;
  }
}
