.profile__name {
  margin: 0;
  font-size: 42px;
  color: var(--color-text);
  font-weight: 500;
  line-height: 48px;
  margin-right: 18px;
}

@media screen and (max-width: 400px) {
  .profile__name {
    font-size: 34px;
    line-height: 33px;
  }
}

@media screen and (max-width: 370px) {
  .profile__name {
    font-size: 27px;
  }
}
