.profile__inner {
}

@media screen and (max-width: 500px) {
  .profile__inner {
    max-width: 380px;
  }
}

@media screen and (max-width: 428px) {
  .profile__inner {
    max-width: 320px;
  }
}

@media screen and (max-width: 368px) {
  .profile__inner {
    max-width: 270px;
  }
}
