.popup__inner {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 430px;
  font-family: var(--ff);
  padding: 34px 36px 37px;
  border-radius: 10px;
  background-color: var(--color-bg-secondary);
}

@media screen and (max-width: 640px) {
  .popup__inner {
    max-width: 380px;
  }
}

@media screen and (max-width: 424px) {
  .popup__inner {
    max-width: 340px;
    padding: 25px 22px;
  }
}

@media screen and (max-width: 382px) {
  .popup__inner {
    max-width: 310px;
  }
}

@media screen and (max-width: 352px) {
  .popup__inner {
    max-width: 282px;
  }
}
